.loader::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    inset: 1;
    z-index: -1;   
}

.load-text::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0%;
    height: 100%;
    inset: 1;
    z-index: -1;
    animation: 2s infinite ease-in-out load alternate ;
}

.radio-loader > div{
    animation: 1s infinite ease-in-out radio-load ;
    height: 30px;
}

.radio-loader > div:nth-child(1){
    animation-delay: -0.2s;
}
.radio-loader  div:nth-child(2){
    animation-delay: 0.1s;
}
.radio-loader > div:nth-child(3){
    animation-delay: 0.2s;
}
.radio-loader > div:nth-child(4){
    animation-delay: 0.3s;
}



@keyframes load {
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}

@keyframes radio-load {
    /* 20%{
        transform: scaleY(1);
    } */
    50%{
        transform: scaleY(0.4);
    }
/* 
    90%{
        transform: scaleY(0.6);
    } */

}


