@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/FuturaPTDemi.otf');
}
@font-face {
    font-family: 'FuturaMd';
    src: url('../assets/fonts/FuturaPTMedium.otf');
}
@font-face {
    font-family: 'FuturaBold';
    src: url('../assets/fonts/FuturaPTBold.otf');
}
@font-face {
    font-family: 'FuturaLight';
    src: url('../assets/fonts/FuturaPTLight.otf');
}


@layer base{

    .btn-primary{
        @apply bg-primary
    }

    .btn-danger{
        @apply bg-danger
    }

    .input{
        @apply px-6 py-3 text-base text-white-60 rounded-md border-white-10 bg-white-10 placeholder:text-white-60 outline-none  focus:ring-primary focus:ring-2
    }
    .inputLg{
        @apply px-8 py-4 text-base text-white-60 rounded-md border-white-10 bg-white-10 placeholder:text-white-60 outline-none  focus:ring-primary focus:ring-2
    }

    .profile-container{
        @apply bg-black p-6 flex flex-col  justify-between gap-10 w-full sm:w-[472px] absolute top-0 left-1/2 -translate-x-1/2
    }

    .line{
        @apply border border-white-10 w-[50%] mx-auto
    }

    .navLink{
        @apply text-lead text-black hover:text-primary cursor-pointer transition duration-300
    }

    .active-link{
        @apply text-primary
    }

    .box{
        @apply px-16 max-md:px-4
    }

    /* .loader{
        @apply before:-z-10 before:-translate-y-1/2 before:-translate-x-1/2 before:absolute before:top-1/2 before:left-1/2 before:inset-1 before:w-[100vw] before:h-[100vh] before:bg-primary
    } */
    .loader{
        @apply  before:bg-primary
    }

    .load-text{        
        @apply before:bg-white p-4
    }

    .normal-transition{
        @apply transition duration-75 ease-in-out
    }



    .icon-anim{
        @apply transition duration-300 ease-out  hover:scale-[1.1]
    }

    .btn-anim{
        @apply transition duration-300 ease-out hover:-translate-y-2 hover:bg-primary hover:text-white  relative
    }

    .card-anim{
        @apply transition duration-300 ease-out hover:bg-primary-40 hover:-translate-y-2  hover:shadow-lg
    }
    


}